{% extends 'ParkingBD/base.html' %}
{% block title %}
{{user.username}}
{% endblock title %}
{% load widget_tweaks %}
{% block base %}

<div class="mx-auto text-center">
    <img class="ring ring-slate-700 m-auto" src="{{user.profile.avatar.url}}" alt="">
    <br>
    <span class="font-semibold">Username: </span><span>{{user.username}}</span>
    <br>
    <span class="font-semibold">Email: </span><span>{{user.email}}</span>
    <br>
    <span class="font-semibold">Phone: </span><span>{{user.profile.phone}}</span>
    <br>
</div>

<form method="post" class="p-4 border-2 m-auto rounded-xl shadow-lg w-3/5 max-w-10/12">
{% csrf_token %}
{% for field in form.visible_fields  %}
<label class="text-xl font-semibold" for="{{ field.id_for_label }}">{{ field.label }}</label>
<br>
<p>{{ field|add_class:'form-control' }}</p>
<br>
{% for error in field.errors  %}
<br>
<span>{{error}}</span>
<br>
{% endfor %}
{% endfor %}
<input class="p-2 font-semibold bg-blue-500 text-white rounded-md hover:bg-blue-700 duration-200" type="submit" value="Update"><span>                        
    <a class="text-red-500 font-semibold" href="{% url 'password_change' %}">Change Password</a></span>
<br>
</form>

{% endblock base %}